name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      name: Install Node 20
      with:
        node-version: '20.14'
        cache: 'npm'
    - name: Install dependencies
      run: npm install
    - name: Build resources
      run: npm run to-webp
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/liolluryz/duck-stand:latest
    - name: Push Docker image
      run: |
        docker push ghcr.io/liolluryz/duck-stand:latest


